/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;

}
/* Header  */
header{
  border: 2px solid ;
  background-color: #3400FF;
  height: 40vh;
}
nav{
  position: absolute;
  right: 50px;
}
/* navbar items  */
.nav-item{
  color: #ffffff;
  padding: 0px 10px;
  margin-top: 4px;

}
/* nav button */
.nav-item-active{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 5px;
}
.nav-item:last-child{
  position: relative;
  top: 6px;
  width: 20px;
  height: 20px;
}
.logo{
  margin: 20px 0px 20px 20px;
  height: 30px;
}
.header-text{
  color: #ffffff;
  margin: 30px;
  font-size: 10px;
}
.header-image{
  position: absolute;
  right: 10px;
  top: 10%;
  width: 400px;
  height: 350px;
}
.companies{
  margin: 10px 50px;
}
.company-items{
  text-decoration: none;
  color: #000000;
  font-weight: 800;
  font-size: 12px;
  padding: 0px 15px;
}
.api{
  margin: 70px 50px 20px 50px;
}
.api-heading{
  font-size: 24px;
}
.cards{
  display: flex;
  justify-content: space-between;
}
.card-active{
  padding: 20px 90px 10px 20px;
  box-shadow: 2px 2px 15px 15px #0000004d;

}
.card-head-active{
  color: #5A31FC;
  font-size: 14px;
}
.card-body{
  font-size: 10px;
}
.card{
  padding: 20px 90px 10px 20px;
}
.card-head{
  font-size: 14px;
}
.blog-heading{
  font-size: 12px;
  margin: 70px 50px 20px 50px;

}
.blog-cards{
  display: flex;
  margin: 50px;
  gap: 80px;
  margin-right: 100px;
}
.blog-card{
  display: flex;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 7px 7px 5px 2px #0000004d ;
  flex: 3;
}
/* content of blog */
.blog-content{
  position: relative;
  float: left;
  left: 120px;
  top: 5px;
  font-size: 14px;
  padding-left: 50px;
  padding-right: 50px;
}
.blog-bottom{
  position: relative;
  right: 145px;
  top: 12px;
}
.blog-card-bottom-image{
  height: 40px;
  width: 40px;
}
/* author name */
.blog-author{
  position: relative;
  font-size: 10px;
  right: 135px;
  top: 12px;
}
.faq-section{
  display: flex;
  position: relative;
  gap: 20%;
  background-color: #e8f2f1f3;
}
.faq-content{
  margin: 0 50px;
}
.faq-content h4{
  font-size: 12px;
}
.faq-content button{
  border: none;
  color: #ffffff;
  background-color: #5A31FC;
  padding: 3px 24px;
  font-size: 12px;
}
.faq-image{
  position: relative;
  left: 220px;
}
.faq-image img{
  width: 400px;
  height: 250px;
}
/* download Section Starts here */
.download-section{
  display: flex;
  margin: 0 0 0 50px;
  justify-content: space-between;
}
.download-content span{
  font-size: 24px;
}
.download-email{
  padding: 30px 50px;
}
.download-email form{
  border: 3px solid;
  position: relative;
  margin: 2px 0;
  border-radius:20px; 
  
}
.download-email form input{
  margin: 2px 80px;
  border-radius: 20px;
  border: none;
}
.download-email form button{
  border: none;
  color: #ffffff;
  background-color: #5A31FC;
  border-radius: 12px;
  padding: 2px 10px;
  margin-right: 1px;
}

/* Footer Starts Here */
.footer-section{
  display: flex;
  background-color: #3400FF;
  color: #ffffff;
  height: 12vh;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}
.list{
  position: relative;
  display: flex;
  right: 6px;
}
.list-items{
  text-decoration: none;
  list-style: none;
  padding: 0 20px;
}
.footer-logo{
  height: 20px;
  margin: 10px 0 0 50px;
}
.footer-right{
  position: absolute;
  display: flex;
  left: 81%;
}
.footer-logos{
  position: relative;
  padding: 3px 5px;
  margin-left: 27px;
  margin-top: 10px;
}
.logos-list{
  display: flex;
  position: absolute;
  top: 45px;
  left: -22px;
}