/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
/* Header  */
body{
  border: 2px solid;
}
header{
  border: 2px solid green;
  background-color: #3400FF;
  height: 40vh;
}
nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/* navbar items  */
.nav-item{
  color: #ffffff;
  padding: 0px 10px;
  cursor: pointer;
}
/* nav button */
.nav-item-active{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
}
/* Search svg */
.nav-item:last-child{
  position: relative;
  top: 6px;
  width: 20px;
  height: 25px;
  cursor:pointer;
}
/* navbar logo */
.logo{
  margin: 20px 0px 20px 20px;
  height: 30px;
  cursor: pointer;
  flex: 1;
}
.header-text{
  color: #ffffff;
  margin: 30px;
  font-size: 10px;
}
.header-image{
  position: absolute;
  right: 10px;
  top: 12%;
  width: 400px;
  height: 350px;
}
.companies{
  margin: 10px 50px;
}
.company-items{
  text-decoration: none;
  color: #000000;
  font-weight: 800;
  font-size: 12px;
  padding: 0px 15px;
}
.api{
  margin: 7rem 0 0 3rem;
}
.api-heading{
  font-size: 24px;
}
.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-active{
  padding: 20px 90px 10px 20px;
  box-shadow: 2px 2px 15px 15px #0000004d;
}
.card-head-active{
  color: #5A31FC;
  font-size: 14px;
}
.card-body{
  font-size: 10px;
}
.card{
  padding: 20px 90px 10px 20px;
}
.card-head{
  font-size: 14px;
}
/* Blog Cards  */
.blog-heading{
  font-size: 12px;
  margin: 3rem;
}
.blog-cards{
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0 3rem 4rem;
  gap: 4.5rem;
}
.blog-card{
  display: flex;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 7px 7px 5px 2px #0000004d ;
  padding-right: 6%;
}
/* content of blog */
.blog-image img{
  height: 45vh;
}
.blog-content{
  display: flex;
  flex-direction: column;
  margin-left: 3.5rem;
}
.blog-bottom{
  display: flex;
  margin: 10px 0;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.blog-card-bottom-image{
  height: 40px;
  width: 40px;
}
/* author name */
.blog-author{
  font-size: 14px;
}
/* FAQ Section */
.faq-section{
  display: flex;
  flex-wrap: wrap;
  gap: 20%;
  background-color: #e8f2f1f3;
}
.faq-content{
  margin: 0 50px;
}
.faq-content h4{
  font-size: 10px;
}
.faq-content button{
  border: none;
  color: #ffffff;
  background-color: #5A31FC;
  padding: 3px 24px;
  font-size: 12px;
}
.faq-image{
  position: absolute;
  right: 10px;
}
.faq-image img{
  width: 400px;
  height: 250px;
}
/* download Section Starts here */
.download-section{
  display: flex;
  margin: 3rem 0 0 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.download-content span{
  font-size: 24px;
}
.download-email{
  display: flex;
}
.download-email form input{
  border-radius: 20px;
  border: none;
  padding: 5px 10rem 5px 1rem;
  width: 11rem;
}
.download-email form button{
  border: none;
  color: #ffffff;
  background-color: #5A31FC;
  border-radius: 20px;
  padding: 7px 25px;
  margin-right: 1px;
}
/* Footer Starts Here */
.footer-section{
  display: flex;
  background-color: #3400FF;
  color: #ffffff;
  height: 15vh;
  position: relative;
  bottom: 0;
  font-size: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid red;
}
.list{
  display: flex;
  flex-wrap: wrap;
}
.list-items{
  list-style: none;
  padding: 0 20px;
}
.footer-logo{
  height: 20px;
  margin: 10px 0 0 50px;
}
.footer-right-side{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-right{
  padding: 1rem 2rem 0rem;
}
.footer-logos{
  padding: 0 0.7rem;
  cursor: pointer;
}
.logos-list{
  display: flex;
  flex-wrap: wrap;
}
.footer-list-items{
  list-style: none;
  padding: 0 0.5rem;
}